body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;

}

.bg-1 .parallax {
    background-image: url('assets/a.jpg'); 
}

.bg-2 .parallax {
    background-image: url('assets/b.jpg'); 
}

.bg-3 .parallax {
    background-image: url('assets/c.jpg'); 
}

.bg-4 .parallax {
    background-image: url('assets/d.jpg'); 
}

.content-1 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 20px;
    background-color: white;
    
}

.content-1 p {
    font-size: 24px;
    color: #333;
    text-align: center;
    padding: 12px;
    justify-content: center;
}

.info{
    display: flex;
    height: 100px;
    width: 250px;
    justify-content: center;
    background-color: cadetblue;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 1px solid black;
    padding: 24px;
    align-content: center;

}

.info:hover {
    background-color: darkcyan;
    cursor: pointer;
    transform: scale(1.05);
}

.bg-1{
text-align: center;
}